body 
{
    background-image:url("doodle.jpeg");
}

h2{
    color:darkorchid;
}

h1
{
 color: darkcyan;
 background-color: pink;
}

#show_sketch
{
    float:right;
}

canvas
{
border: 5px solid white;
border-radius: 20px;
animation-name: example;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example 
{
    from {box-shadow: 1px 1px 38px darkgray;}
    to {box-shadow: 1px 1px 38px white;}
}